body {
	height: 100vh;
	width: 100vw;
	display: flex;
}

/* When writing CSS classes it is VERY important that you use hyphen delimited strings (square-div and NOT squareDiv) */
/* Addtionally, you should know what the class does just by looking at the name (the name should be DESCRIPTIVE) */
/* When thinking about sizing elements on your page, there are many different units you can use = https://www.w3schools.com/cssref/css_units.asp */
.square-div {
	height: 100%;
	width: 100%;
}

/* When possible, organize CSS classes in alphabetical order */
.yellow {
	background-color: #00FF00;
}

.blue {
	background-color: #00bfff;
}

.blue {
	background-color: #00bfff;
}