body {
	height: 100vh;
	width: 100vw;
	display: block;
	margin: 0;
}

/* When writing CSS classes it is VERY important that you use hyphen delimited strings (square-div and NOT squareDiv) */
/* Addtionally, you should know what the class does just by looking at the name (the name should be DESCRIPTIVE) */
/* When thinking about sizing elements on your page, there are many different units you can use = https://www.w3schools.com/cssref/css_units.asp */
.row1 {
	height: 40%;
	width: 100%;
	display: flex;
}

.row2 {
	height: 20%;
	width: 100%;
	display: flex;
}

.box {
	height: 100%;
	width: calc(100%/3);
	display: flex ;
}
/* When possible, organize CSS classes in alphabetical order */
.black {
	background-color: #000000;
}

.green {
	background-color: #7CFC00;
}


